.smooth-scroll-parent {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  position: relative;
  scroll-snap-align: center;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tickie-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: "#11202e";
  font-size: 100px;
  margin-bottom: -10px;
  padding-bottom: 0px;
}

.section:first-child,
.section:last-child {
  background-color: aliceblue;
}

img {
  height: 50vh;
}

.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#get-started {
  width: fit-content;
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    font-size: 15px;
  }
  img {
    height: 20vh;
  }
  #get-started {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 420px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    font-size: 12px;
  }
  img {
    display: 10vh;
  }
  #get-started {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 330px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    font-size: 12px;
  }
  img {
    display: none;
  }
}

